.title{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.button-container {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .button {
    padding: 20px 30px;
    margin-right: 10px;
    background-color: #be7d03;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

.info{
  text-align: center;
  margin-top: 40px;
}