<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>コーヒータイマー</title>
<link rel="stylesheet" href="static/index.css">
</head>
<body background="static/coffee-background.png">

<h1 class ="title" >コーヒータイマー</h1>

<div class="button-container">
  <button class="button">浅煎り</button>
  <button class="button">中煎り</button>
  <button class="button">深煎り</button>
  <button class="button">カスタム</button>
</div>

<p class = "info">スケールの重さをリセットして、豆の種類を選んでください</p>

</body>
</html>
