<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BarisTimer</title>
<link rel="stylesheet" href="static/css/index.css">
</head>
<body background="static/coffee-background.png">

<h1 class ="title" >BarisTimer</h1>

<div class="button-container">
  <form action="/page" method="GET">
    <input type="hidden" name="name" value="asairi">
    <input class = "button" type="submit" value="浅煎り">
  </form>
  <form>
    <input type="hidden" name="name" value="nakairi">
    <input class = "button" type="submit" value="中煎り">
  </form>
  <form>
    <input type="hidden" name="name" value="fukairi">
    <input class = "button" type="submit" value="深煎り">
  </form>
  <form>
    <input type="hidden" name="name" value="custom">
    <input class = "button" type="submit" value="カスタム">
  </form>
</div>



<p class = "info">スケールの重さをリセットして、豆の種類を選んでください</p>

</body>
</html>
